<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6852B09A1D87D5DE00B68763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6852B0B31D87D5DE00B68763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6852B0BE1D87D5DE00B68763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
